figure
    - #some kind of animation here
    figcaption
        - Hello, I'm Cher. I love puzzles, problem solving and making cool stuff.

h2 - About

h3 - Who I am
p - Stuff about who I am

h3 - What I do
p - Stuff about what I do
