.content.content-admin
    h2 - Manage Resume
    .items
        a.admin-new href="/admin/portfolio/new"
            - Add new item
        include('./_portfolio_items') portfolioItems=data.portfolioItems
