.content.content-error
    h2 - ${data.error.code}
    .content-block
        h3 - ${data.error.definition}
        p
            - Sorry, about that. Try going
            a href="//" - home
            - .
