ul.social
    li.github
        a href="https://github.com/cherstewart" - GitHub 
    li.linkedin
        a href="//www.linkedin.com/in/cherstewart" - LinkedIn
small.copyright
    - Copyright &copy; 2016 Cher Stewart

a.menu data-js-action="load" href="javascript:;" data-component="navigation"
    span - View menu