hgroup itemscope itemprop="author"
    meta itemprop="description" content="Cher Stewart has been a front-end developer since 2000, and learned back-end tech in 2007 to become a full-stack engineer. Cher is a former engineer at USA Today and Blizzard Entertainment, and is an advisor for the EsportsPRC project."
    h1 itemprop="name"
        - Cher Stewart
    h2 itemprop="jobtitle"
        - Software Engineer
