html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  display: inline-block; }

@font-face {
  font-family: 'High Tower Text';
  unicode-range: U+00-FFFF;
  src: url("/public/fonts/HighTowerText-Reg.woff2") format("woff2"), url("/public/fonts/HighTowerText-Reg.woff") format("woff"), url("/public/fonts/HighTowerText-Reg.ttf") format("truetype"), url("/public/fonts/HighTowerText-Reg.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Mitre Square';
  unicode-range: U+00-FFFF;
  src: url("/public/fonts/MitreSquare.woff2") format("woff2"), url("/public/fonts/MitreSquare.woff") format("woff"), url("/public/fonts/MitreSquare.ttf") format("truetype"), url("/public/fonts/MitreSquare.ttf") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'High Tower Text';
  unicode-range: U+00-FFFF;
  src: url("/public/fonts/HighTowerText-Italic.woff2") format("woff2"), url("/public/fonts/HighTowerText-Italic.woff") format("woff"), url("/public/fonts/HighTowerText-Italic.ttf") format("truetype"), url("/public/fonts/HighTowerText-Italic.svg") format("svg");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'High Tower Text';
  unicode-range: U+00-FFFF;
  src: url("/public/fonts/HighTowerText-Bold.woff2") format("woff2"), url("/public/fonts/HighTowerText-Bold.woff") format("woff"), url("/public/fonts/HighTowerText-Bold.ttf") format("truetype") url("/public/fonts/HighTowerText-Bold.svg") format("svg");
  font-weight: bold;
  font-style: normal; }

html {
  font: 18px "High Tower Text", serif; }

strong {
  font-weight: bold; }

em {
  font-style: italic; }

a, a:link, a:visited, a:hover, a:active {
  color: #a493ac;
  text-decoration: none;
  border-bottom: 1px solid currentColor;
  transition: all 0.1618s ease-out; }

a:active, a:hover {
  color: #010f0a; }

h1 {
  font-size: 4.23607rem;
  line-height: 4.76558rem; }

h2 {
  font-size: 1.61803rem;
  line-height: 1.82029rem; }

h3 {
  font-size: 1.61803rem;
  line-height: 1.82029rem; }

h4 {
  font-size: 1rem;
  line-height: 1.125rem; }

h5 {
  font-size: 1rem;
  line-height: 1.125rem; }

h6 {
  font-size: 1rem;
  line-height: 1.125rem; }

.animation {
  position: relative;
  min-width: 320px;
  max-width: 60em; }
  .animation-skills {
    background-image: linear-gradient(rgba(237, 235, 222, 0.9), rgba(255, 255, 255, 0)); }
    .animation-skills figcaption p {
      position: absolute;
      bottom: -1.5rem;
      font-size: 0.61803rem;
      font-style: italic;
      opacity: .4;
      z-index: 20;
      right: 2.12862%; }
      @media screen and (min-width: 60em) {
        .animation-skills figcaption p {
          right: 3.44419%; } }
    .animation-skills:after {
      content: '';
      position: absolute;
      height: 2.12862%;
      background-image: linear-gradient(rgba(255, 255, 255, 0), white, rgba(255, 255, 255, 0));
      z-index: 10;
      width: 100%;
      bottom: 0;
      margin-bottom: -1.06431%; }
    @media screen and (min-width: 60em) {
      .animation-skills:after {
        height: 3.44419%;
        margin-bottom: -1.72209%; } }
  .animation-canvas {
    border-top: 1px solid rgba(126, 133, 135, 0.5);
    box-shadow: inset 0 3px 3px -3px rgba(1, 15, 10, 0.1);
    background-image: url("/public/images/noise.png");
    position: relative;
    overflow: hidden;
    height: 83.33333vw;
    max-height: 33.33333em; }
    .animation-canvas-about {
      background-image: url("/public/images/noise.png"), linear-gradient(rgba(169, 204, 206, 0.8), rgba(255, 255, 255, 0.05)); }
    .animation-canvas-skills canvas {
      height: 100%;
      width: 100%;
      opacity: .3; }
    @media screen and (min-width: 60em) {
      .animation-canvas {
        margin: auto; } }
    @media screen and (min-width: 60em) {
      .animation-canvas:before, .animation-canvas:after {
        content: '';
        position: absolute;
        width: 9.01699%;
        background-image: linear-gradient(to right, rgba(255, 255, 255, 0), white, rgba(255, 255, 255, 0));
        z-index: 10;
        height: 100%; } }
    @media screen and (min-width: 60em) {
      .animation-canvas:before {
        left: 0;
        margin-left: -4.5085%; } }
    @media screen and (min-width: 60em) {
      .animation-canvas:after {
        right: 0;
        margin-right: -4.5085%; } }
    .animation-canvas svg {
      position: absolute; }
  .animation figcaption {
    font-size: 1.61803rem;
    line-height: 1.82029rem;
    padding: 0 2.12862%; }
    @media screen and (min-width: 40em) {
      .animation figcaption {
        box-sizing: border-box;
        width: 61.8034%;
        padding: 0 2.12862%; } }
    @media screen and (min-width: 60em) {
      .animation figcaption {
        box-sizing: border-box;
        width: 61.8034%;
        padding: 0 0.81306%;
        padding: 0; } }
    .animation figcaption em {
      color: #a493ac; }

.svg-container {
  position: absolute;
  width: 100%;
  height: 83.33333%;
  min-width: 320px; }

.balloon {
  background-image: url("/public/images/balloon.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%; }

.low-clouds {
  background-image: url("/public/images/low-clouds.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%; }

.high-clouds {
  background-image: url("/public/images/high-clouds.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%; }

.birds {
  background-image: url("/public/images/birds.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%; }

.mountains {
  background-image: url("/public/images/mountains.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%; }

.mountains {
  bottom: 0;
  height: 30.33333vw;
  background-repeat: repeat-x;
  width: 300%;
  animation: scroll 60s infinite;
  max-height: 200px;
  min-width: calc(320px*3); }

.low-clouds {
  bottom: 10.11111vw;
  height: 25vw;
  background-repeat: repeat-x;
  width: 300%;
  min-width: calc(320px*3);
  animation: scroll 60s infinite;
  max-height: 190px; }
  @media screen and (min-width: 60em) {
    .low-clouds {
      bottom: calc(200px/3); } }

.high-clouds {
  height: 40vw;
  background-repeat: repeat-x;
  width: 400%;
  min-width: calc(320px*4);
  animation: bounceyScroll 60s infinite;
  left: -200%;
  max-height: 300px;
  background-position: 0 50%; }

.balloon {
  animation: bounceyScroll 60s infinite;
  max-height: 360px; }

.birds {
  width: 20vw;
  right: 10%;
  top: 15%;
  height: 20.13423vw;
  background-position: 100% 50%;
  animation: bounceyZoom 60s infinite; }

svg#wind {
  animation: windScroll 60s infinite alternate;
  opacity: .45; }
  svg#wind .st1 {
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: transparent;
    stroke: rgba(255, 255, 255, 0.3);
    stroke-width: 2;
    stroke-miterlimit: 10;
    stroke-dasharray: 100;
    stroke-dashoffset: 100;
    animation: wind 5s ease-in-out forwards infinite alternate; }

@keyframes scroll {
  0% {
    transform: translateX(0%); }
  50% {
    transform: translateX(-50%); }
  100% {
    transform: translateX(0%); } }

@keyframes bounceyScroll {
  0% {
    transform: translate(0%, 0%); }
  10% {
    transform: translate(-10%, -3%); }
  30% {
    transform: translate(-20%, 0%); }
  50% {
    transform: translate(-10%, 2%); }
  60% {
    transform: translate(0%, -5%); }
  70% {
    transform: translate(10%, 0%); }
  80% {
    transform: translate(20%, 0%); }
  90% {
    transform: translate(10%, 4%); }
  100% {
    transform: translate(0, 0%); } }

@keyframes bounceyZoom {
  0% {
    transform: translate(0%, 0%) scale(1); }
  10% {
    transform: translate(-1%, -1%) scale(1.05); }
  30% {
    transform: translate(-2%, 0%) scale(1.1); }
  50% {
    transform: translate(-1%, 2%) scale(1.05); }
  60% {
    transform: translate(0%, -1%) scale(1); }
  70% {
    transform: translate(1%, 0%) scale(1.05); }
  80% {
    transform: translate(2%, 0%) scale(1.05); }
  90% {
    transform: translate(1%, 2%) scale(1); }
  100% {
    transform: translate(0, 0%) scale(1); } }

@keyframes wind {
  from {
    stroke-dashoffset: 100; }
  to {
    stroke-dashoffset: 0; } }

@keyframes windScroll {
  0% {
    transform: translateX(0%); }
  50% {
    transform: translateX(-10%); }
  100% {
    transform: translateX(0%); } }

.modal {
  color: rgba(255, 255, 255, 0.8); }
  .modal a:hover {
    color: #7e8587; }
  .modal-close, .modal-close:link, .modal-close:visited, .modal-close:hover, .modal-close:active {
    height: 15px;
    width: 15px;
    -webkit-mask-image: url("/public/images/icon-close.svg");
    mask-image: url("/public/images/icon-close.svg");
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    top: 0;
    right: 0;
    margin: 15px 15px;
    z-index: 300;
    padding: 0;
    background-color: rgba(126, 133, 135, 0.95);
    position: absolute;
    text-indent: -10000px;
    transition: all 0.1618s ease-out; }
  .modal-close:hover, .modal-close:active {
    background-color: rgba(255, 255, 255, 0.9); }
  .modal > div, .modal > nav {
    border: 1px solid rgba(141, 129, 165, 0.5);
    z-index: 300;
    background: #010f0a url("/public/images/bg-dark.png") 50% 50% repeat;
    background-size: 360px 360px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.5);
    padding: 15px 15px;
    box-sizing: border-box;
    display: block;
    position: fixed;
    right: 20px;
    left: 20px;
    min-width: 280px;
    max-width: 40em;
    transition: width 0.1618s ease-out; }
    @media screen and (min-width: 30em) {
      .modal > div, .modal > nav {
        width: 320px;
        left: 50%;
        right: auto;
        margin-left: -160px; } }
  .modal > div {
    top: 50%;
    margin-top: -30vh;
    max-height: 70vh;
    overflow: auto; }
    @media screen and (min-width: 30em) {
      .modal > div {
        width: auto;
        left: 20px;
        right: 20px;
        margin-left: auto;
        margin-right: auto; } }
  .modal-overlay {
    position: fixed;
    z-index: 200;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0; }
    @media screen and (min-width: 60em) {
      .modal-overlay-navigation-site {
        display: none !important; } }
    .modal-overlay-dark {
      background: rgba(0, 0, 0, 0.7); }
    .modal-overlay-light {
      background: rgba(255, 255, 255, 0.85); }
  .modal.is-open {
    z-index: 300; }

body {
  background: white url("/public/images/bg.png") 50% 50% repeat;
  background-size: 360px 360px;
  color: #010f0a;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh; }

.content {
  padding: 2rem 2.12862%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  @media screen and (min-width: 40em) {
    .content {
      box-sizing: border-box;
      width: 61.8034%;
      padding: 0 2.12862%;
      padding-top: 2rem;
      padding-bottom: 2rem; } }
  @media screen and (min-width: 60em) {
    .content {
      box-sizing: border-box;
      width: 61.8034%;
      padding: 0 0.81306%;
      padding: 2rem 0; } }
  .content h2 {
    text-transform: uppercase;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    width: 100%; }
    .content h2:after {
      content: '';
      display: block;
      -ms-flex-positive: 1;
      flex-grow: 1;
      margin-left: 0.81306%;
      height: 2px;
      background: rgba(126, 133, 135, 0.5);
      transform: skew(137.50776deg); }
  .content-block {
    width: 100%;
    box-sizing: border-box;
    padding: 1rem 0.81306% 0 0.81306%; }
    @media screen and (min-width: 30em) {
      .content-block {
        padding-left: 0;
        padding-right: 3.44419%;
        width: 50%; } }
    @media screen and (min-width: 40em) {
      .content-block {
        padding-right: 2.12862%;
        width: 100%; } }
    @media screen and (min-width: 60em) {
      .content-block {
        padding-right: 3.44419%;
        width: 50%; } }
  .content h3 {
    font-weight: bold;
    font-size: 1rem;
    line-height: 1.82029rem;
    color: #7e8587;
    text-transform: uppercase; }
  .content ul {
    border-left: 2px solid #cfefd2;
    padding-left: 2.12862%; }
    @media screen and (min-width: 40em) {
      .content ul {
        padding-left: 3.44419%; } }
  .content-resume > p {
    padding: 1rem 0; }
  .content-resume .resume-document {
    padding: 1rem 0; }
    .content-resume .resume-document-item {
      padding: .5rem 0; }
      @media screen and (min-width: 40em) {
        .content-resume .resume-document-item {
          padding: 1rem 0; } }
      .content-resume .resume-document-item li {
        padding: .5rem 0; }
      @media screen and (min-width: 40em) {
        .content-resume .resume-document-item header {
          display: -ms-flexbox;
          display: flex; } }
      .content-resume .resume-document-item hgroup, .content-resume .resume-document-item .metadata {
        text-align: center; }
        @media screen and (min-width: 40em) {
          .content-resume .resume-document-item hgroup, .content-resume .resume-document-item .metadata {
            -ms-flex-positive: 1;
            flex-grow: 1;
            -ms-flex-align: bottom;
            align-items: bottom;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-direction: column;
            flex-direction: column;
            -ms-flex-pack: end;
            justify-content: flex-end;
            text-align: left; } }
      .content-resume .resume-document-item .metadata {
        color: #7e8587;
        font-style: italic;
        font-size: 0.8rem;
        line-height: 0.9rem;
        text-align: center; }
        @media screen and (min-width: 40em) {
          .content-resume .resume-document-item .metadata {
            text-align: right;
            white-space: nowrap; } }
    .content-resume .resume-document h1 {
      font-size: 1.3rem;
      line-height: 1.4625rem;
      font-weight: bold;
      text-transform: uppercase; }
      .content-resume .resume-document h1 a, .content-resume .resume-document h1 a:link, .content-resume .resume-document h1 a:visited {
        color: #010f0a;
        border-bottom: 1px solid transparent; }
      .content-resume .resume-document h1 a, .content-resume .resume-document h1 a:hover, .content-resume .resume-document h1 a:active {
        color: #a493ac;
        border-bottom: 1px solid currentColor; }
      @media screen and (min-width: 40em) {
        .content-resume .resume-document h1 {
          font-weight: normal;
          font-size: 1.61803rem;
          line-height: 1.82029rem;
          padding-bottom: .5rem;
          white-space: nowrap; } }
    .content-resume .resume-document h2 {
      font-size: 1rem;
      line-height: initial;
      text-transform: lowercase;
      color: #a493ac;
      font-style: italic;
      display: block;
      padding-bottom: .5rem; }
      @media screen and (min-width: 40em) {
        .content-resume .resume-document h2 {
          padding-bottom: 0; } }
      .content-resume .resume-document h2:after {
        content: none; }
    .content-resume .resume-document-content {
      padding: 0.5rem 1.31556%; }
      .content-resume .resume-document-content ul {
        border-left: none;
        border-top: 2px solid #cfefd2; }
        @media screen and (min-width: 40em) {
          .content-resume .resume-document-content ul {
            border-left: 2px solid #cfefd2;
            border-top: none; } }
      @media screen and (min-width: 40em) {
        .content-resume .resume-document-content {
          padding-left: 2.12862%;
          padding-right: 2.12862%; } }
      @media screen and (min-width: 60em) {
        .content-resume .resume-document-content {
          padding-left: 3.44419%;
          padding-right: 3.44419%; } }

section {
  max-width: 60em;
  min-width: 320px;
  -ms-flex-positive: 1;
  flex-grow: 1; }
  @media screen and (min-width: 60em) {
    section {
      margin: auto;
      padding: 0 2.12862%; } }

.header {
  min-width: 320px;
  background-image: linear-gradient(white, rgba(255, 255, 255, 0)); }
  .header hgroup {
    padding: 25px 2.12862% 2.12862% 2.12862%;
    text-align: center;
    max-width: 60em;
    -webkit-font-smoothing: antialiased; }
    @media screen and (min-width: 40em) {
      .header hgroup {
        text-align: left; } }
    @media screen and (min-width: 60em) {
      .header hgroup {
        margin: auto; } }
  .header h1 {
    font-family: "Mitre Square";
    color: #a493ac;
    font-size: 1.61803rem;
    line-height: 1.125rem; }
  .header h2 {
    text-transform: uppercase;
    color: #7e8587;
    font-size: 1rem;
    line-height: 1.125rem; }

.navigation {
  overflow: hidden;
  -webkit-overflow-scrolling: touch; }
  .navigation:hover, .navigation:active {
    overflow-x: auto; }
  .navigation-header {
    border-top: 4px solid #cfefd2;
    box-shadow: inset 0 3px 3px -3px rgba(1, 15, 10, 0.3); }
  .navigation-footer {
    display: none; }
  .navigation ul {
    display: -ms-flexbox;
    display: flex;
    max-width: 68.75em;
    min-width: 30em; }
    @media screen and (min-width: 68.75em) {
      .navigation ul {
        margin: auto; } }
  .navigation-item {
    font-size: 1rem;
    line-height: 2rem;
    padding: 0 2.12862%;
    -ms-flex-positive: 1;
    flex-grow: 1;
    text-align: center; }
    .navigation-item a, .navigation-item a:link, .navigation-item a:visited, .navigation-item a:hover, .navigation-item a:active {
      border: none;
      text-transform: uppercase; }
    .navigation-item-header a, .navigation-item-header a:link, .navigation-item-header a:visited, .navigation-item-header a:hover, .navigation-item-header a:active {
      color: #010f0a; }
    .navigation-item-header a:hover, .navigation-item-header a:active, .navigation-item-header a:focus {
      color: #a493ac; }
  .navigation-modal nav {
    top: calc(100vh - 20px);
    height: calc(100% - 40px); }
    .navigation-modal nav ul {
      -ms-flex-direction: column;
      flex-direction: column;
      min-width: 280px;
      padding-top: 45px; }
      .navigation-modal nav ul a, .navigation-modal nav ul a:link, .navigation-modal nav ul a:visited, .navigation-modal nav ul a:hover, .navigation-modal nav ul a:active {
        color: white; }
      .navigation-modal nav ul a:hover, .navigation-modal nav ul a:active, .navigation-modal nav ul a:focus {
        color: #7e8587; }
  @media screen and (min-width: 60em) {
    .navigation-modal-site {
      display: none !important; } }

.skill-list {
  position: absolute;
  top: 0;
  height: 83.33333vw;
  max-height: 33.33333em;
  width: 100%;
  overflow: hidden; }
  .skill-list li {
    position: absolute;
    border: 1px solid rgba(126, 133, 135, 0.5);
    height: 12px;
    width: 16px;
    transform: rotate(45deg);
    backface-visibility: hidden;
    -webkit-font-smoothing: subpixel-antialiased;
    transform-style: preserve-3d;
    cursor: pointer;
    transition: all 0.1618s ease-out;
    -webkit-filter: drop-shadow(0 0 2px white);
    filter: drop-shadow(0 0 2px white); }
    .skill-list li:before {
      content: '';
      height: 0;
      width: 2px;
      background: rgba(126, 133, 135, 0.5);
      display: block;
      position: absolute;
      left: 50%;
      transform: translate3d(-50%, 0, 0);
      bottom: 50%;
      transition: all 0.1618s ease-out; }
    .skill-list li:after {
      content: attr(data-text);
      position: absolute;
      padding: 0;
      bottom: 0;
      background: rgba(126, 133, 135, 0.5);
      font-size: 0.61803rem;
      white-space: nowrap;
      height: 0;
      overflow: hidden;
      display: inline-block;
      transition: all 0.1618s ease-out;
      font-style: italic; }
    .skill-list li span {
      height: 16px;
      width: 12px;
      content: '';
      position: absolute;
      top: 0;
      left: 1px;
      top: -3px;
      display: block;
      text-indent: -10000px;
      border: inherit; }
      .skill-list li span:after {
        display: block;
        content: '';
        height: 4px;
        width: 4px;
        border-radius: 50%;
        background: rgba(126, 133, 135, 0.8);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0); }
    .skill-list li:hover, .skill-list li:active, .skill-list li:focus {
      border-color: black;
      transform: rotate(0);
      outline: none; }
      .skill-list li:hover:before, .skill-list li:active:before, .skill-list li:focus:before {
        height: 30px; }
      .skill-list li:hover:after, .skill-list li:active:after, .skill-list li:focus:after {
        height: 16px;
        padding: 4px;
        padding-bottom: 0;
        bottom: 35px; }
      .skill-list li:hover span:after, .skill-list li:active span:after, .skill-list li:focus span:after {
        height: 8px;
        width: 8px;
        transform: translate3d(-50%, -50%, 0);
        background-color: black; }
    .skill-list li[data-id="html5"] {
      left: 90%;
      top: 11%; }
      .skill-list li[data-id="html5"]:before {
        top: 50%;
        bottom: auto; }
      .skill-list li[data-id="html5"]:after {
        right: 0;
        top: 0;
        bottom: auto; }
      .skill-list li[data-id="html5"]:hover:after, .skill-list li[data-id="html5"]:active:after, .skill-list li[data-id="html5"]:focus:after {
        top: 35px; }
    .skill-list li[data-id="css3"] {
      left: 50%;
      top: 18%; }
    .skill-list li[data-id="javascript"] {
      left: 63%;
      top: 35%; }
    .skill-list li[data-id="jquery"] {
      left: 70%;
      top: 6%; }
      .skill-list li[data-id="jquery"]:before {
        top: 50%;
        bottom: auto; }
      .skill-list li[data-id="jquery"]:after {
        top: 0;
        bottom: auto; }
      .skill-list li[data-id="jquery"]:hover:after, .skill-list li[data-id="jquery"]:active:after, .skill-list li[data-id="jquery"]:focus:after {
        top: 35px; }
    .skill-list li[data-id="backbone"] {
      left: 6%;
      top: 88%; }
    .skill-list li[data-id="underscore"] {
      left: 88%;
      top: 82%; }
      .skill-list li[data-id="underscore"]:after {
        right: 0; }
    .skill-list li[data-id="require"] {
      left: 43%;
      top: 51%; }
    .skill-list li[data-id="gulp"] {
      left: 44%;
      top: 66%; }
    .skill-list li[data-id="sass"] {
      left: 38%;
      top: 9%; }
      .skill-list li[data-id="sass"]:before {
        top: 50%;
        bottom: auto; }
      .skill-list li[data-id="sass"]:after {
        top: 0;
        bottom: auto; }
      .skill-list li[data-id="sass"]:hover:after, .skill-list li[data-id="sass"]:active:after, .skill-list li[data-id="sass"]:focus:after {
        top: 35px; }
    .skill-list li[data-id="less"] {
      left: 34%;
      top: 48%; }
    .skill-list li[data-id="haml"] {
      left: 34%;
      top: 38%; }
    .skill-list li[data-id="jade"] {
      left: 27%;
      top: 3%; }
      .skill-list li[data-id="jade"]:before {
        top: 50%;
        bottom: auto; }
      .skill-list li[data-id="jade"]:after {
        top: 0;
        bottom: auto; }
      .skill-list li[data-id="jade"]:hover:after, .skill-list li[data-id="jade"]:active:after, .skill-list li[data-id="jade"]:focus:after {
        top: 35px; }
    .skill-list li[data-id="marko"] {
      left: 73%;
      top: 24%; }
    .skill-list li[data-id="freemarker"] {
      left: 17%;
      top: 62%; }
    .skill-list li[data-id="velocity"] {
      left: 4%;
      top: 48%; }
    .skill-list li[data-id="django"] {
      left: 77%;
      top: 54%; }
    .skill-list li[data-id="vue"] {
      left: 27%;
      top: 25%; }
    .skill-list li[data-id="rails"] {
      left: 36%;
      top: 75%; }
    .skill-list li[data-id="spring"] {
      left: 44%;
      top: 29%; }
    .skill-list li[data-id="python"] {
      left: 53%;
      top: 6%; }
      .skill-list li[data-id="python"]:before {
        top: 50%;
        bottom: auto; }
      .skill-list li[data-id="python"]:after {
        top: 0;
        bottom: auto; }
      .skill-list li[data-id="python"]:hover:after, .skill-list li[data-id="python"]:active:after, .skill-list li[data-id="python"]:focus:after {
        top: 35px; }
    .skill-list li[data-id="java"] {
      left: 56%;
      top: 79%; }
    .skill-list li[data-id="node"] {
      left: 64%;
      top: 74%; }
    .skill-list li[data-id="ruby"] {
      left: 10%;
      top: 24%; }
    .skill-list li[data-id="groovy"] {
      left: 14%;
      top: 11%; }
      .skill-list li[data-id="groovy"]:before {
        top: 50%;
        bottom: auto; }
      .skill-list li[data-id="groovy"]:after {
        top: 0;
        bottom: auto; }
      .skill-list li[data-id="groovy"]:hover:after, .skill-list li[data-id="groovy"]:active:after, .skill-list li[data-id="groovy"]:focus:after {
        top: 35px; }
    .skill-list li[data-id="maven"] {
      left: 87%;
      top: 36%; }
      .skill-list li[data-id="maven"]:after {
        right: 0; }
    .skill-list li[data-id="tomcat"] {
      left: 27%;
      top: 78%; }
    .skill-list li[data-id="git"] {
      left: 3%;
      top: 19%; }
    .skill-list li[data-id="subversion"] {
      left: 61%;
      top: 51%; }
    .skill-list li[data-id="sql"] {
      left: 18%;
      top: 42%; }
    .skill-list li[data-id="angular"] {
      left: 85%;
      top: 25%; }
    .skill-list li[data-id="react"] {
      left: 75%;
      top: 89%; }

.portfolio-item {
  position: relative;
  padding: 2rem 2.12862%; }
  @media screen and (min-width: 40em) {
    .portfolio-item {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      padding: 2rem 2.12862%; } }
  @media screen and (min-width: 60em) {
    .portfolio-item {
      padding: 2rem 3.44419%; } }
  .portfolio-item-header {
    text-align: center; }
    @media screen and (min-width: 40em) {
      .portfolio-item-header {
        box-sizing: border-box;
        width: 61.8034%;
        text-align: right;
        direction: rtl; } }
    @media screen and (min-width: 60em) {
      .portfolio-item-header {
        box-sizing: border-box;
        width: 38.1966%;
        padding-right: 3.44419%; } }
    @media screen and (min-width: 81.25em) {
      .portfolio-item-header {
        white-space: nowrap; } }
  .portfolio-item-title {
    color: #7e8587;
    text-transform: uppercase;
    font-size: 1.61803rem;
    line-height: 1.82029rem;
    word-wrap: break-word;
    word-break: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto; }
    @media screen and (min-width: 60em) {
      .portfolio-item-title {
        font-size: 1.94164rem;
        line-height: 2.00232rem; } }
  .portfolio-item-subtitle {
    font-style: italic;
    text-transform: lowercase;
    font-size: 1rem; }
  .portfolio-item-subtitle, .portfolio-item-location, .portfolio-item-timespan {
    color: #a493ac; }
  .portfolio-item-location, .portfolio-item-timespan {
    font-size: 0.8rem; }
  .portfolio-item-skills {
    background-color: #010f0a;
    margin: 1rem 0; }
    @media screen and (min-width: 40em) {
      .portfolio-item-skills {
        box-sizing: border-box;
        width: 61.8034%;
        padding: 0 2.12862%; } }
    @media screen and (min-width: 60em) {
      .portfolio-item-skills {
        margin-left: auto;
        margin-top: 0;
        margin-bottom: auto; } }
    .portfolio-item-skills ul {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      padding: .75rem 1.25rem; }
    .portfolio-item-skills li {
      padding: .15rem .5rem;
      color: white;
      font-style: italic;
      -webkit-font-smoothing: antialiased; }
  @media screen and (min-width: 40em) {
    .portfolio-item-descriptions {
      box-sizing: border-box;
      width: 61.8034%; } }
  @media screen and (min-width: 60em) {
    .portfolio-item-descriptions {
      margin-left: auto;
      min-height: calc(350px + 2rem);
      padding-top: 2rem; } }
  .portfolio-item-descriptions li {
    padding-bottom: 1rem; }
  .portfolio-item h3 {
    font-weight: bold;
    font-size: 1rem;
    line-height: 1.82029rem;
    color: #7e8587;
    text-transform: uppercase; }

.asides {
  white-space: nowrap;
  overflow: hidden;
  padding-bottom: 2rem;
  -webkit-overflow-scrolling: touch; }
  .asides:hover, .asides:active, .asides:focus {
    overflow-x: auto; }
  @media screen and (min-width: 60em) {
    .asides {
      padding-top: 2rem; } }

.aside {
  display: inline-block;
  width: calc(100% - 8.51449%);
  margin-right: 4.25725%;
  vertical-align: top; }
  @media screen and (min-width: 40em) {
    .aside {
      width: 38.1966%; } }
  @media screen and (min-width: 60em) {
    .aside {
      width: 23.6068%; }
      .aside:nth-of-type(1) {
        position: absolute;
        top: 200px;
        margin-top: 2rem;
        margin-right: 0;
        margin-left: 9.01699%; } }
  .aside-image {
    box-shadow: 0 0 3px 0 rgba(1, 15, 10, 0.13); }
    .aside-image-content {
      width: 100%;
      height: 56.25vw;
      background-size: cover;
      background-position: 50% 0;
      background-repeat: no-repeat; }
      @media screen and (min-width: 40em) {
        .aside-image-content {
          height: 21.48559vw; } }
      @media screen and (min-width: 60em) {
        .aside-image-content {
          height: 13.27882vw; } }
    .aside-image-caption {
      background-color: white;
      padding-top: .25rem; }
      .aside-image-caption h4 {
        color: #7e8587;
        font-size: 1rem;
        line-height: 1.125rem;
        text-transform: lowercase;
        text-align: center; }
      .aside-image-caption p {
        border-top: 4px solid #cfefd2;
        box-shadow: inset 0 3px 3px -3px rgba(1, 15, 10, 0.3);
        padding: 1rem 2.12862%;
        white-space: normal; }

.footer {
  border-top: 4px solid #cfefd2;
  background: #010f0a;
  position: relative;
  color: white;
  min-width: 320px; }
  .footer-content {
    max-width: 60em;
    padding: 2.12862%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    height: 90px;
    box-sizing: border-box; }
    @media screen and (min-width: 60em) {
      .footer-content {
        margin: auto;
        padding-left: 0;
        padding-right: 0; } }
    .footer-content > * {
      box-sizing: border-box;
      -ms-flex-positive: 1;
      flex-grow: 1;
      width: 50%; }
  .footer small {
    font-style: italic;
    display: -ms-flexbox;
    display: flex;
    text-align: right;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    font-size: 0.61803rem; }
  .footer .menu, .footer .menu:link, .footer .menu:visited, .footer .menu:hover, .footer .menu:active {
    height: 30px;
    width: 30px;
    padding: 6px;
    box-sizing: border-box;
    border-radius: 50%;
    border: 1px solid #cfefd2;
    position: absolute;
    right: 2.12862%;
    margin-top: 0;
    transition: all 0.1618s ease-out;
    background-color: transparent;
    -webkit-filter: drop-shadow(0 6px 10px rgba(0, 0, 0, 0.8));
    filter: drop-shadow(0 6px 10px rgba(0, 0, 0, 0.8)); }
    .footer .menu span, .footer .menu:link span, .footer .menu:visited span, .footer .menu:hover span, .footer .menu:active span {
      text-indent: -10000px;
      display: block; }
    .footer .menu:before, .footer .menu:link:before, .footer .menu:visited:before, .footer .menu:hover:before, .footer .menu:active:before {
      content: '';
      background: #8d81a5;
      -webkit-mask-image: url("/public/images/icon-menu.svg");
      mask-image: url("/public/images/icon-menu.svg");
      height: 12px;
      width: 12px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%, -50%, 0);
      transition: all 0.1618s ease-out; }
    @media screen and (min-width: 60em) {
      .footer .menu, .footer .menu:link, .footer .menu:visited, .footer .menu:hover, .footer .menu:active {
        display: none; }
        .footer .menu:after, .footer .menu:link:after, .footer .menu:visited:after, .footer .menu:hover:after, .footer .menu:active:after {
          content: none; } }
  .footer .menu:hover, .footer .menu:active {
    border-color: white;
    background-color: black; }
    .footer .menu:hover:before, .footer .menu:active:before {
      background-color: white; }
  .footer .social {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: end;
    align-items: flex-end; }
    .footer .social .github a, .footer .social .github a:link, .footer .social .github a:visited, .footer .social .github a:hover, .footer .social .github a:active {
      display: block;
      background: #8d81a5;
      -webkit-mask-image: url("/public/images/icon-github.svg");
      mask-image: url("/public/images/icon-github.svg");
      transition: all 0.1618s ease-out;
      text-indent: -10000px;
      height: 22px;
      width: 22px;
      -webkit-mask-size: 22px 22px;
      mask-size: 22px 22px;
      -webkit-mask-repeat: no-repeat;
      mask-repeat: no-repeat;
      border: none; }
    .footer .social .github a:hover, .footer .social .github a:active, .footer .social .github a:focus {
      background: white; }
    .footer .social .github {
      margin-right: 6px; }
    .footer .social .linkedin a, .footer .social .linkedin a:link, .footer .social .linkedin a:visited, .footer .social .linkedin a:hover, .footer .social .linkedin a:active {
      display: block;
      background: #8d81a5;
      -webkit-mask-image: url("/public/images/icon-linkedin.svg");
      mask-image: url("/public/images/icon-linkedin.svg");
      transition: all 0.1618s ease-out;
      text-indent: -10000px;
      height: 22px;
      width: 22px;
      -webkit-mask-size: 22px 22px;
      mask-size: 22px 22px;
      -webkit-mask-repeat: no-repeat;
      mask-repeat: no-repeat;
      border: none; }
    .footer .social .linkedin a:hover, .footer .social .linkedin a:active, .footer .social .linkedin a:focus {
      background: white; }
    .footer .social .linkedin {
      margin-right: 6px; }
    .footer .social .github a, .footer .social .github a:link, .footer .social .github a:visited, .footer .social .github a:hover, .footer .social .github a:active {
      -webkit-mask-size: 20px 20px;
      mask-size: 20px 20px;
      -webkit-mask-position: 50% 50%;
      mask-position: 50% 50%; }
