<!DOCTYPE html>

html lang="en"
    head
        title
            - ${data.title}
        link rel="stylesheet" type="text/css" href="/public/stylesheets/core.css"
        link rel="icon" href="/public/favicon.png" sizes="64x64" type="image/png"
        meta charset="utf-8"
        meta name="lang" content="enUS"
        meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=yes"
        meta name="author" content="Cher Stewart"
        meta name="description" content="Portfolio and resume for Cher Stewart, a software engineer. Cher Stewart has been a front-end developer since 2000, and learned back-end tech in 2007 to become a full-stack engineer."
        meta name="keywords" content="Cher Stewart, Software Engineer, Front-End Developer, UX Developer, UI Developer, Back-End Engineer, Back-End Developer, Full-Stack Engineer"

    body
        header.header
            ui:header
            navigation activeTab=data.activeTab location="header" if(notEmpty(data.navItems))
                for(navItem in data.navItems)
                    navigation:navItem id=navItem.id text=navItem.text path=navItem.path

        section class=data.activeTab
            if(data.activeTab === 'about')
                about

            if(data.activeTab === 'skillset')
                include('../views/_skillset-full') skills=data.skills

            if(data.activeTab === 'resume')
                include('../views/_resume') resumes=data.resumes

        footer.footer
            navigation activeTab=data.activeTab location="footer" if(notEmpty(data.navItems))
                for(navItem in data.navItems)
                    navigation:navItem id=navItem.id text=navItem.text path=navItem.path
            .footer-content
                ui:footer

        footer-scripts
            footer-scripts:script path="//ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"
            footer-scripts:script path="//cdn.jsdelivr.net/velocity/1.2.3/velocity.min.js"
            footer-scripts:script path="//cdn.jsdelivr.net/velocity/1.2.3/velocity.ui.min.js"
            footer-scripts:script path="https://rawgit.com/akm2/simplex-noise.js/master/simplex-noise.js"
            footer-scripts:script path="/public/javascripts/core.js"
            footer-scripts:script path="/public/javascripts/modal.js"
            footer-scripts:script path="/public/javascripts/animation.js"
            footer-scripts:script path="/public/javascripts/navigation.js"
            for(script in data.scripts)
                footer-scripts:script path=script

        browser-refresh enabled="true"
